@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-selected {
    @apply text-white;
}

.nav-selected::after {
    content: '';
    display: block;
    width: 50%;
    height: 3px;
    margin-top: 2px;
    @apply bg-blue rounded-full;
}

.small-card svg {
    @apply w-12 h-12;
}

/* suggestions under sea4rch bar css */
.search-container {
    position: relative; 
}

.suggestions-dropdown {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestions-dropdown li {
    color: black;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.suggestions-dropdown li:hover {
    background-color: #f4f4f4;
}
