@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-selected {
    @apply text-white;
}

.nav-selected::after {
    content: '';
    display: block;
    width: 50%;
    height: 3px;
    margin-top: 2px;
    @apply bg-blue rounded-full;
}

.small-card svg {
    @apply w-12 h-12;
}

/* suggestions under sea4rch bar css */
.search-container {
    position: relative; 
}

.suggestions-dropdown {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestions-dropdown li {
    color: black;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.suggestions-dropdown li:hover {
    background-color: #f4f4f4;
}

svg {
    @apply w-32;
}

/* Sizing */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #17191C;
  border: 1px solid #31353B;
  @apply rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #30343A;
  @apply rounded-full;
}

.pulsing-btn {
    position: relative;
    transition: background-color 0.3s ease;
    z-index: 5;
}

.pulsing-btn.loading {
    @apply bg-dark-gray border border-gray;
    pointer-events: none;
}

.pulsing-btn.loading::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    @apply bg-dark-gray rounded-full opacity-40;
    animation: pulsing 2s infinite;
    z-index: 1;
}

@keyframes pulsing {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}


/* Light Theme */
.light {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --accent-color: #3498db;
}

/* Dark Theme */
.dark {
    --background-color: #2C3E50;
    --text-color: #FFFFFF;
    --accent-color: #f39c12;
}

/* Apply common styles */
.light, .dark {
  background-color: var(--background-color);
  color: var(--text-color);
}
